body {
  background: rgb(255, 255, 255);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: rgb(100, 100, 100);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.languages {
  display: flex;
  justify-content: center;
  li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
  }
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

.loader-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .loader {
    width: 20%;
  } h2 {
    padding-top: 1rem;
    color: rgb(100, 100, 100);
    font-style: italic;
  }
}


